.root {
	-fx-background-color: black;
}

.label-channel {
	-fx-text-fill: white;
}

.button {
    -fx-border-color: black;
}

.notAvail {
	-fx-background-color: red;
	-fx-text-fill: white;
}

.avail {
	-fx-background-color: yellow;
	-fx-text-fill: black;
}
